@import url('https://fonts.googleapis.com/css2?family=Notable&family=Prompt:wght@500;600&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Notable', sans-serif;
}

.navbar {
    background: #ff0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #c71585;
    background-image: linear-gradient(to top, #c71585 0%, #ffc0cb 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-logo {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links {
    color: #db7093;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color:#ffc0cb;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #fffacd;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #c71585;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(80px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.main {
    background-color: #fffacd;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #fffacd;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #c71585;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #c71585;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    font-family: 'Prompt', sans-serif;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #db7093;
}

.main__btn {
    font-size: 1rem;
    background-color: #ffc0cb;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #c71585;
    text-decoration: none;
}

.main__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff0;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

@media screen and (max-width: 760px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

.meals {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.meals h1 {
    background-color: #c71585;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.meals__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.meals__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic2.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.meals__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic3.jpg');
}

.meals h2 {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 350px;
    left: 30px;
    color: #c71585;
}

.meals__card p {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 400px;
    left: 30px;
    color: #ffc0cb;
}

.meals__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width 960px) {
    .meals {
        height: 1600px;
    }

    .meals h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .meals {
        height: 1400px;
    }

    .meals h1 {
        font-size: 1.2rem;
    }

    .meals__card {
        width: 300px;
    }
}

.abtus__img--container {
    text-align: center;
}

#abtus__img {
    height: 80%;
    width: 80%;
}

.wwd {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.wwd h1 {
    background-color: #c71585;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.wwd__container {
    display: grid;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #fffacd;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.wwd__content h2 {
    font-size: 2rem;
    background-color: #c71585;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.wwd__content p {
    font-family: 'Prompt', sans-serif;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #db7093;
}

.yo__img--container {
    text-align: center;
}

#yo__img {
    height: 50%;
    width: 50%;
}

.wwd__swiper {
    margin: initial;
}

.wwd__images {
    display: grid;
}

.wwd__article,
.wwd__img {
    width: 220px;
    transition: scale .4s;
}

.wwd__article {
    scale: .8;
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
    scale: 1;
}

.prod {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.prod h1 {
    background-color: #c71585;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.product {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.product h1 {
    background-color: #c71585;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.product__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic13.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.product__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic14.jpg');
}

.product__card:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic15.jpg');
}

.product h2 {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 350px;
    left: 30px;
    color: #c71585;
}

.product__card p {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 400px;
    left: 30px;
    color: #ffc0cb;
}

.product__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width 960px) {
    .product {
        height: 1600px;
    }

    .product h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .product {
        height: 1400px;
    }

    .product h1 {
        font-size: 1.2rem;
    }

    .product__card {
        width: 300px;
    }
}

.product2 {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.product2 {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.product2 h1 {
    background-color: #c71585;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.product2__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product2__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic16.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.product2__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic17.jpg');
}

.product2__card:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic18.jpg');
}

.product2 h2 {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 350px;
    left: 30px;
    color: #c71585;
}

.product2__card p {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 400px;
    left: 30px;
    color: #ffc0cb;
}

.product2__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width 960px) {
    .product2 {
        height: 1600px;
    }

    .product2 h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .product2 {
        height: 1400px;
    }

    .product2 h1 {
        font-size: 1.2rem;
    }

    .product2__card {
        width: 300px;
    }
}

.product3 {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.product3 {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.product3 h1 {
    background-color: #c71585;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.product3__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product3__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic19.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.product3__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic20.jpg');
}

.product3__card:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic21.jpg');
}

.product3 h2 {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 350px;
    left: 30px;
    color: #c71585;
}

.product3__card p {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 400px;
    left: 30px;
    color: #ffc0cb;
}

.product3__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width 960px) {
    .product3 {
        height: 1600px;
    }

    .product3 h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .product3 {
        height: 1400px;
    }

    .product3 h1 {
        font-size: 1.2rem;
    }

    .product3__card {
        width: 300px;
    }
}

.product4 {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.product4 {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.product4 h1 {
    background-color: #c71585;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.product4__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product4__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic22.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.product4__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic23.jpg');
}

.product4__card:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic24.jpg');
}

.product4 h2 {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 350px;
    left: 30px;
    color: #c71585;
}

.product4__card p {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 400px;
    left: 30px;
    color: #ffc0cb;
}

.product4__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width 960px) {
    .product4 {
        height: 1600px;
    }

    .product4 h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .product4 {
        height: 1400px;
    }

    .product4 h1 {
        font-size: 1.2rem;
    }

    .product4__card {
        width: 300px;
    }
}

.product5 {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.product5 {
    background: #fffacd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.product5 h1 {
    background-color: #c71585;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.product5__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product5__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic25.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.product5__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic26.jpg');
}

.product5__card:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic27.jpg');
}

.product5 h2 {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 350px;
    left: 30px;
    color: #c71585;
}

.product5__card p {
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 400px;
    left: 30px;
    color: #ffc0cb;
}

.product5__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width 960px) {
    .product5 {
        height: 1600px;
    }

    .product5 h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .product5 {
        height: 1400px;
    }

    .product5 h1 {
        font-size: 1.2rem;
    }

    .product5__card {
        width: 300px;
    }
}